.game {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background: #ffffff;
  box-shadow: 0px 0px 15px 8px rgba(21,21,33,0.73);
  border-radius: 0.7em;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  margin-right: 1em;
}

.status {
  margin-bottom: 1em;
  font-size: 0.9em;
  color: #232C3F;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:first-child {
  border-left: none;
}

.square:last-child {
  border-right: none;
}

.board-row:first-child .square {
  border-top: none;
}

.board-row:last-child .square {
  border-bottom: none;
}

.square.highlight {
	background: green;
	color: white;
}

.square:focus {
  outline: none;
}