.game {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background: #ffffff;
  box-shadow: 0px 0px 15px 8px rgba(21,21,33,0.73);
  border-radius: 0.7em;
}

.game-info {
  margin-left: 20px;
}

.game-board {
  margin-right: 1em;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square.highlight {
	background: green;
	color: white;
}

.square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}